__pycache__
.venv
venv
.env.local
.env
devtools

*.md
!README.md

*.pgn
*.npy
data/
*.pth

.DS_Store
.vscode/
.idea/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.model_cache